body {
    background-color: #f8f9fa;
  }
  
  .card {
    max-width: 400px;
    width: 100%;
    border-radius: 15px;
    transition: all 0.3s ease;
  }
  
  .card:hover {
    transform: scale(1.02);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  
  .btn-primary {
    background-color: var(--primary-color)!important;
    border-color: var(--primary-color)!important;
  }
  
  .btn-primary:hover {
    background-color:var(--primary-hover-color);
    border-color: var(--primary-hover-color);
  }
  
  .text-muted {
    color: #6c757d !important;
  }
  
  .text-primary {
    color: #007bff !important;
  }
  