@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Roboto", sans-serif;
}

:root {
  --primary-color: #6622a0;
  --primary-hover-color: #5a1992;
  --primary-text-hover-color: #d1c4e9;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Ensures it stays on top of other elements */
  background-color: #ffffff; /* Set a background color to avoid content showing through */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow for a more polished look */
}

/* Content styles */
.content {
  padding-top: 60px; /* Adjust this padding to match the height of the header */
}
